In [1]:
from scipy import stats
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
df = pd.read_csv('Tinggi.csv')
df

    Tinggi (cm)  Berat Badan (kg)  Panjang Kaki (size)  Umur (tahun)
0           178               109                   45            18
1           163                84                   42            20
2           184                79                   40            20
3           163                82                   42            21
4           168               122                   42            18
5           178                83                   39            20
6           167               108                   43            18
7           177               119                   44            18
8           175                71                   43            19
9           181               114                   37            21
10          183                93                   38            18
11          171                71                   45            20
12          178               116                   42            20
13          176               107                   41            21
14          169                88                   41            20
15          160               101                   37            22
16          172                76                   43            20
17          181                87                   39            19
18          164                75                   44            22
19          171               115                   41            20
20          181               107                   44            18
21          176               100                   45            18
22          167                81                   37            19
23          163               116                   43            21
24          176                96                   45            20
25          179               114                   36            20
26          180                72                   45            22
27          176                78                   42            21
28          178                86                   44            20
29          168               107                   45            21
..          ...               ...                  ...           ...
70          179               121                   45            21
71          166                96                   43            19
72          161                88                   43            21
73          176                98                   36            19
74          176               115                   38            21
75          178               114                   38            19
76          178               124                   41            21
77          173               103                   36            18
78          180               124                   36            20
79          167               100                   40            20
80          168                97                   39            18
81          160               108                   36            18
82          170               119                   43            18
83          162                86                   37            20
84          178                95                   45            18
85          171               104                   44            21
86          170                96                   38            18
87          185                98                   37            20
88          163                93                   39            18
89          178                86                   39            19
90          168                71                   36            20
91          166               114                   38            21
92          179                76                   43            20
93          171               124                   43            18
94          178                71                   42            22
95          174               104                   43            21
96          162                92                   41            22
97          165                89                   39            20
98          163                82                   42            22
99          170                88                   42            19

[100 rows x 4 columns]

In [7]:
from IPython.display import HTML, display
import tabulate
table=[
        ["method"]+[x for x in df.columns],
        ["describe()"]+['<pre>'+str(df[col].describe())+'</pre>' for col in df.columns],
        ["count()"]+[df[col].count() for col in df.columns],
        ["mean()"]+[df[col].mean() for col in df.columns],
        ["std()"]+["{:.2f}".format(df[col].std()) for col in df.columns],
        ["min()"]+[df[col].min() for col in df.columns],
        ["max()"]+[df[col].max() for col in df.columns],
        ["q1()"]+[df[col].quantile(0.25) for col in df.columns],
        ["q2()"]+[df[col].quantile(0.50) for col in df.columns],
        ["q3()"]+[df[col].quantile(0.75) for col in df.columns],
        ["skew()"]+["{:.2f}".format(df[col].skew()) for col in df.columns],
     ]

display(HTML(tabulate.tabulate(table, tablefmt='html')))